@{
    Layout = "~/Views/SalesCart/_Layout.cshtml";
}
<main>
    <div class="section">
        @Html.Partial("SalesCart_CustomerSelection")
    </div>
    <div class="section">
        @Html.Partial("SalesCart_Inventory")
    </div>
    <div class="section">
        @Html.Partial("SalesCart_Cart")
    </div>
</main>

