@{
    Layout = "~/Views/SalesCart/_Layout.cshtml";
}

<div class="section">
    @Html.Partial("_CustomerSelection")
</div>
<div class="section">
    @Html.Partial("_Inventory")
</div>
<div class="section">
    @Html.Partial("_Cart")
</div>



HtmlHelper' does not contain a definition for 'Partial' and no accessible extension method 'Partial' accepting a first argument of type 'HtmlHelper' could be found (are you missing a using directive or an assembly reference?)

