@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Sales Cart</title>

</head>
<body class="SalesCartBody">
    <div class="SalesCartSidebar">
        <div class="SalesCartLabel-Group">
            <label class="SalesCartHidden-Label">@Model.InvoiceID</label>
            <div>
                <label>Date:</label>
                <label>@Model.Date</label>
            </div>
            <div>
                <label>Invoice#:</label>
                <label>@Model.InvoiceNumber</label>
            </div>
        </div>
        <div class="SalesCartButton-Group">
            <button type="button">Add Trade In</button>
            <button type="button">Open Inventory</button>
            <button type="button">Refresh Cart</button>
            <button type="button">Clear Search</button>
            <button type="button">Checkout</button>
            <button type="button">Hold Sale</button>
            <button type="button">Void Transaction</button>
        </div>
    </div>
    <div class="SalesCartContent">
        @RenderBody()
    </div>
</body>
</html>
